

body{
    font-family:arial;
    font-size:15px;
    line-height:1.6em;
    background:#f4f4f4;
}

li{
    list-style:none;
}

a{
    text-decoration:none;
}

label{
    display:inline-block;
    width:180px;
}

input[type='text']{
    width:97%;
    padding:4px;
    border-radius:5px;
    border: 1px solid #ccc;
}

input[type='number']{
    width:50px;
    padding:4px;
    border-radius:5px;
    border: 1px solid #ccc;
}

#container{
    margin: 0 auto;
    overflow:auto;
    width:60%;
    display: flex;
}

header {
    border-bottom:3px solid #f4f4f4 solid;
}

footer{
    border-top:3px #f4f4f4 solid;
    text-align:center;
    padding-top:5px;
}

main{
    padding-bottom:20px;
}

a.start{
    display:inline-block;
    color:#666;
    border:1px dotted #ccc;
    padding:6px 13px;
}

.current{
    padding:10px;
    background:#f4f4f4;
    border:#0000 dotted 0px;
    margin:0px 0 10px 0;
    border-radius: 15px;
}

@media only screen and (max-width:960px){
    .container{
	width:80%;
    }
}
